body {

}
p {
    font-family: serif; font-size: ;
}

table {
    text-align: justify;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 1.3cm; 
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 0.3cm;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 0.3cm;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 0.7cm;
}